/*REGOLE GENERICHE*/
 /* ho lasciato gli errori come commenti, in modo da poter ricordare i ragionamenti effettuati per gli errori fatti */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: table;
    clear:both;
}


.container_main{
    max-width: 800px;
    margin: 0 auto;
}

.container_1,
.container_2{
    max-width: 100%;
    /*margin-bottom: 100px;*/
}

.container_80{
    max-width: 80vw;
    height: 14vw;
    padding: 5vw;
    margin: 0 auto;
}


nav{
    background-color: white;
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    overflow: hidden;
    z-index: 9999;
    border-bottom: 0.1px solid rgba(0,0,0,0.1);
}

.fl{
    float: left;
}

.fr{
    float: right;
}

nav ul{
    list-style: none;
    /*margin: 0 30px;*/
    line-height: 2em;
}

a{
    text-decoration: none;
}

nav a{
    color: rgb(0,0,0);  
}

nav ul li a:hover{
    border-bottom: 1px solid black;
}

li{
    display: inline-block;
}

ul a{
    padding: 10px 0px;
    margin: 0 10px;
    vertical-align: 44px;
    line-height: 44px;
}

.mb20{
    margin-bottom: 20px;
}


.mb65{
    margin-bottom: 65px;
}

.ml20{
    margin-left: 20px;
}

.pt50{
    padding-top: 50px;
}

.pt150{
    padding-top: 150px;
}

.pb100{
    padding-bottom: 100px;
}

.button_white{
    color: rgba(0,0,0,0.8);
    background-color: rgb(255,255,255);
    border: 1px solid rgb(0,0,0);
    padding: .5em;
    margin: 10px auto;
    
}
 

/*CLASSI SPECIFICHE*/

.logo{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
}

.start{
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

button a:hover{
    border: 0px;
}


button a{
    color: rgb(255,255,255);
    padding-left: 1em;
    padding-right: 1em;
}

button:hover{
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px;
}

button{
    background-color: rgb(0,97,255);
    border: 0px solid transparent;
    padding: .5em;
    line-height: 1.2em;
    vertical-align: middle;
    margin-bottom: 10px;
    vertical-align: middle;
    line-height: 10px;
}

.center{
    max-width: 900px;
    margin: 45px auto 0;
}

.hd{
    max-width: 100% ;
    height: 500px;
    background-color: rgb(180,208,231);
    padding-top: 50px;
}



h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.box30{
    width: 30%;
    float: left;
}

.box70{
    width: 70%;
    float: left;
}


p{
    font-size: .8em;
    margin-bottom: 10px;
}

.container_1 .img{
    width: 70%;
    float: left;
}

.box-arrow{
    position: relative;
    max-width: 246px;
    height: 50px;
    margin-top: 20px;
}

.box-arrow a svg{
    width: 30px;
    fill: rgb(0,0,0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section2{
    max-width: 1000px;
    /*height: 100vh;*/
    margin: 0 auto;
}

#section3{
    max-width: 1000px;
    /*height: 650px;*/
    /*background-color: blue;*/
}

.check,
.span_text{
    margin-top: 25px;
}

.check{
    display: inline-block;
    background-color: rgb(255,255,255);
    width: 15px;
    height: 15px;
    border: .5px solid rgb(0,0,0);
    border-radius: 100%;
}

span.check:hover{
    border: 5px solid blue;
}

#section2 h2{
    font-size: 2em;
}

.span_text{
    line-height: 1px;
    vertical-align: 1px;
}

.card{
    width: calc((100% - 10px - 10px) / 3);
    border: 1px solid rgb(0,0,0);
    float: left;
}


.card:nth-child(3){
    margin: 0 10px;
}

.hd_card{
    text-align: center;
    border-bottom: 1px solid rgb(0,0,0);
    padding: 10px;
}

.m_card {
    margin: 30px 20px;
}

.m_card ul{
    margin-top: 50px;
    font-size: 0.8em;
}


.hd_card span{
    font-size: 0.8em;
}

/*.hd_card .fa-user,{
    width: 5%;
}*/

h3,
h4{
    padding-bottom: 10px;
}

ul li span{
    width: 100px;
    float: left;
}

ul li i{
    width: 18px;
    float: left;
}

.box_btn{
    max-width: 201px ;
    margin: 0px auto 5px;
}

.box_btn p a{
    color: rgb(36, 134, 247);
}

.box_btn p a:hover{
    color: rgb(0,0,255);
}

.box_btn span{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0,0,0);
    margin-right: 5px;
}

.box_list_card{
    max-width: 200px;
    margin: 50px auto;
}

.fa-check{
    width: 18px;
    fill: rgb(36, 134, 247);
    float: left;
    margin-right: 10px;
}


.box_list_card ul li span{
    max-width: 200px;
    font-size: 0.7em;
    float: left;
}
.last_card{
    width: 100%;
    margin: 20px auto;
    border: 1px solid rgb(0,0,0);
    float: left;
}

.box60{
    width: 60%;
    margin: 30px 20px;
}

.box30_m {
    width: 30%;
    margin: 30px 15px;
}
.pt50 a{
    color: rgb(0,0,0);
    font-size: 0.8em;
}

#section3 .container_1 .pt50 a:hover{
    color: rgba(0,0,0,0.8);
    border: 2px solid rgb(0,0,0);
    box-shadow: 1px 1px 5px rgb(0,0,0);
}


.contain{
    width: 100%;
}

.white{
    background-color: rgb(255,255,255);
}

/* SEZIONE 4*/

.hd_card_sec4{
    width: 100%;
    height: 40px;
    border-bottom: none;
    padding: 20px;
}

.hd_card_sec4 .title_sec4{
    font-size: 2em;
}

.card_sec4{
    width: calc((100% - 40px) / 3);
    height: 400px;
    border: none;
    padding-top: 60px;
    float: left;
}

.card_sec4:nth-child(3n+3){
    margin: 0 20px;
}


.card_sec4 img{
    width: 100%;
}

.card_sec4 .text{
    padding: 10px 10px;
}


.yellow{
    background-color: rgb(255,216,48);
    /*position: absolute;
    top: 174px;
    right: 0px;*/
}

.green{
    background-color: rgb(162,211,155);
}

.hotred{
    background-color: rgb(97,8,43);
    /*position: absolute;
    top: 0;
    left: 174px;*/
}

.red{
    background-color: red;
    /*position: absolute;
    top: 174px;
    left: 174px;*/
}

.lightred{
    background-color: rgb(213,0,31);
    /*position: absolute;
    top: 0;
    right: 175px;*/
}

.sky{
    background-color: rgb(180,208,231);
    /*position: absolute;
    top: 0;
    right: 0px;*/
}

.lightblue{
    background-color: rgb(0,147,206);
}

.blue{
    background-color: rgb(13,36,129);
    /*position: absolute;
    top: 174px;
    right: 175px;*/
}


.box_float{
    width: 30vw;
}

.box_banner1{
    width: 15vw;
    height: 15vw;
    position: relative;
}


.box_banner2{
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: rgb(245,245,245);
}

.box_banner2 img{
    width: 30%;
    margin: 20px 20px;
    border-bottom: 1px solid rgba(155, 153, 153,0.6);
    padding-bottom: 20px;
}

.box_banner2 .text_banner{
    margin: 20px 20px;
}

.box_banner1 img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: invert(1);
}

.pb100 .ml20 a{
    text-decoration: underline;
}

.pb100 .ml20 a:hover{
    text-decoration: none;
}

.box_btn a{
    text-decoration: none;
}

.box_btn a:hover{
    text-decoration: underline;
}

/*.box_banner1 img{
    width: 60%;
    vertical-align: -100px;
    margin-left: 32px;
}*/

/*.asu img{
    vertical-align: -120px;
    margin-left: 40px;
}

.uff img{
    vertical-align: -80px;
    margin-left: 32px;
}

.heart img{
    vertical-align: -90px;
    margin-left: 40px;
}

.topps img{
    vertical-align: -90px;
    margin-left: 40px;
}

.clear img{
    vertical-align: -110px;
    margin-left: 48px;
}*/

.scroolbar{
    overflow-y: auto;
}

.box_scroolbar{
    height: 600px;
}

.sky .button_white:hover{
    color: rgba(0,0,0,0.8);
    border: 2px solid rgb(0,0,0);
    box-shadow: 1px 1px 5px rgb(0,0,0);
}

.faq{
    padding: 20px 0;
    border-top: 1px solid rgb(0,0,0);
    position: relative;
}

.faq:hover .risposte, 
.faq:hover i.fa-chevron-down{
    display: block;
}

.faq:hover i.fa-chevron-up{
    display: none;
}

.risposte,
.fa-chevron-down{
    display: none;
}


.faq a {
    color: rgb(0,0,0);
}

.black{
    background-color: rgba(0,0,0,1);
    font-size: 14px;
    padding-top: 40px;
}

.container_footer{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    color: rgb(245,245,245);
}

footer ul{
    list-style: none;
    width: calc(100% / 5);
}

footer ul li{
    display: block;
    line-height: 0em;
}

/* perché non riesco a stringere di più? */

footer a {
    color: rgb(245,245,245);
    line-height: 0em;
}

footer ul h4{
    margin-left: 10px;
    font-size: 16px;
}

footer ul li:hover{
    text-decoration: underline;
}

.underline{
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(245,245,245);
}

.container_footer span{
    padding: 30px 10px;
}

.change{
    position: absolute;
    top: 15px;
    right: 0;
}
