/*REGOLE GENERICHE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clerfix::after {
    content: "";
    display: table;
    clear:both;
}

.container_100{
    width: 100%;
}

nav{
    background-color: white;
    width: 1280px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    overflow: hidden;

}

.fl{
    float: left;
}

.fr{
    float: right;
}

nav ul{
    list-style: none;
    /*margin: 0 30px;*/
    line-height: 2em;
}

nav a{
    padding: 50px 0;
}

a{
    text-decoration: none;
}

li{
    display: inline-block;
    padding: 1em 0.5em;
}



/*CLASSI SPECIFICHE*/

.logo, .start{
    display: inline-block;
    margin: 1em;
    line-height: 2em;
}


.container_start{
    position: fixed;
    top: 0;
    right: 0;
}


.container_list2{
    position: relative;
    top:0;
    right:50px;
}

.start{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    padding: 0px;
}

button{
    background-color: rgb(122, 153, 240);
    padding: 1em;
}


.blabla{
    width: 2000px;
    height: 1000px;
    background-color: yellow;
    margin-top: 60px;
}

