/*REGOLE GENERICHE*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

.clerfix::after {
    content: "";
    display: table;
    clear:both;
}

body{
    max-width: 1000px;
}

.container_1{
    max-width: 100%;
    margin-bottom: 100px;
}

.container_2{
    max-width: 80%;
    margin: 0 auto;
}

.container_3{
    max-width: 1000px;
    margin: 0 auto;
}

nav{
    background-color: white;
    width: 1000px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    overflow: hidden;
    border-bottom: 0.1px solid rgba(0,0,0,0.1);
}

.fl{
    float: left;
}

.fr{
    float: right;
}

nav ul{
    list-style: none;
    /*margin: 0 30px;*/
    line-height: 2em;
}

a{
    text-decoration: none;
}

nav a{
    color: rgb(0,0,0);
}

nav ul li a:hover{
    padding-bottom: 0.9em;
    border-bottom: 1px solid rgb(0,0,0);
}

li{
    display: inline-block;
    padding: 0.5em 0.5em;
}

.mb20{
    margin-bottom: 20px;
}

.mb65{
    margin-bottom: 65px;
}

.pt50{
    padding-top: 50px;
}

.button_white{
    border: 1px solid rgb(0,0,0);
    padding: .5em;
    margin: 10px auto;
}
 

/*CLASSI SPECIFICHE*/

.logo{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
}

.start{
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

button a:hover{
    border: 0px;
}


button a{
    color: rgb(255,255,255);
    padding-left: 1em;
    padding-right: 1em;
}

button:hover{
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px;
}

button{
    background-color: rgb(0,97,255);
    border: 0px solid transparent;
    padding: .5em;
    line-height: 1.2em;
    vertical-align: middle;
    margin-bottom: 10px;
}

.hd{
    max-width: 1000px ;
    height: 475px;
    background-color: rgb(180,208,231);
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
}

h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.box30{
    width: 30%;
    float: left;
}

.box70{
    width: 70%;
    float: left;
}


p{
    font-size: .8em;
    margin-bottom: 10px;
}

.container_1 .img{
    width: 70%;
    float: left;
}

.box-arrow{
    position: relative;
    max-width: 246px;
    height: 50px;
    margin-top: 20px;
}

.box-arrow a svg{
    width: 30px;
    fill: rgb(0,0,0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section2{
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}

#section3{
    max-width: 1000px;
    height: 100vh;
    /*background-color: blue;*/
}

.check,
.span_text{
    margin-top: 25px;
}

.check{
    display: inline-block;
    background-color: rgb(255,255,255);
    width: 15px;
    height: 15px;
    border: .5px solid rgb(0,0,0);
    border-radius: 100%;
}

#section2 h2{
    font-size: 2em;
}

.span_text{
    line-height: 1px;
    vertical-align: 1px;
}

.card{
    width: calc((100% - 10px - 10px) / 3);
    border: 1px solid rgb(0,0,0);
    float: left;
}


.card:nth-child(3){
    margin: 0 10px;
}

.hd_card{
    text-align: center;
    border-bottom: 1px solid rgb(0,0,0);
    padding: 10px;
}

.m_card {
    margin: 30px 20px;
}

.m_card ul{
    margin-top: 50px;
    font-size: 0.8em;
}



.hd_card span{
    font-size: 0.8em;
}

/*.hd_card .fa-user,{
    width: 5%;
}*/

h3,
h4{
    padding-bottom: 10px;
}

ul li span{
    width: 100px;
    float: left;
}

ul li i{
    width: 18px;
    float: left;
}

.box_btn{
    max-width: 201px ;
    margin: 0px auto 5px;
}

.box_btn p a{
    color: rgb(36, 134, 247);
}

.box_btn p a:hover{
    color: rgb(0,0,255);
}

.box_btn span{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0,0,0);
    margin-right: 5px;
}

.box_list_card{
    max-width: 200px;
    margin: 50px auto;
}

.fa-check{
    width: 18px;
    fill: rgb(36, 134, 247);
    float: left;
    margin-right: 10px;
}


.box_list_card ul li span{
    max-width: 200px;
    font-size: 0.7em;
    float: left;
}
.last_card{
    width: 100%;
    margin: 20px auto;
    border: 1px solid rgb(0,0,0);
    float: left;
}

.box60{
    width: 60%;
    margin: 30px 20px;
}

.box30_m {
    width: 30%;
    margin: 30px 15px;
}
.pt50 a{
    color: rgb(0,0,0);
    font-size: 0.8em;
}

.pt50 a:hover{
    color: rgba(0,0,0,0.8);
    border: 2px solid rgb(0,0,0);
    box-shadow: 1px 1px 5px rgb(0,0,0);
}


.contain{
    width: 100%;
}

.white{
    background-color: rgb(255,255,255);
}

.yellow{
    height: 300px;
    background-color: yellow;
}